/*总体布局*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

html {
  font-family: 'ZCOOL KuaiLe', cursive;
}

a {
  text-decoration: none;
  color: #fb7299;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  color: #E18393;
}

a:active,
a:hover {
  outline: 0;
}

@media screen and (min-width: 500px) {


  .zhezhao {
    color: #3498db;
    background-color: #3498db;
    width: min-content;
  }

  .zhezhao:hover {
    background-color: #fff;
  }
}

body {
  background-color: #fff;
  padding-top: 72px;
  background-image: url("https://main-1309525160.cos.ap-beijing.myqcloud.com/img/bg.png");
}

body p {
  color: #3498db;
  font-size: 1.5em;
  font-weight: 100;
}

::selection {
  color: #fff;
  background-color: #E18393;
}

::-moz-selection {
  color: #fff;
  background-color: #E18393;
}

header {
  box-shadow: 8px 8px 8px #BFBFBF;
  background-color: #fb7299;
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 99;
}

#h-h {
  color: #fff;
  text-align: center;
  font-weight: 100;
  font-size: 2.75em;
  font-family: 'ZCOOL KuaiLe', cursive;
}

footer {
  height: min-content;
  display: block;
}

footer div {
  padding-bottom: 0px;
}

footer div p {
  text-align: center;
  background-color: #fff;
  color: #000;
  font-size: 1em;
}

/*侧边栏*/
#main-checkbox {
  position: fixed;
  top: 0px;
  z-index: 99;
}

.sidebar {
  position: fixed;
  top: 64px;
  left: -200px;
  width: 200px;
  height: 100%;
  background: #FFFFFF;
  transition: all .5s ease;
  box-shadow: 2px 4px 6px #BFBFBF;
  z-index: 999;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  color: #fb7299;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px;
  transition: .4s;
}

ul li:hover a {
  padding-left: 30px;
  color: aqua;
  border-left: 5px solid #fb7299;
  transition: all 0.5s;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background-color: #fb7299;
  border-radius: 3px;
}

label #btn {
  left: 8px;
  top: 8px;
  padding: 6px 10px;
  z-index: 30;
  font-size: 25px;
  color: #FFFFFF;
}

label #cancel {
  z-index: 1;
  left: 8px;
  top: 8px;
  font-size: 25px;
  color: #FFFFFF;
  padding: 6px 10px;
}

#check:checked~.sidebar {
  left: 0;
}

#check:checked~label #btn {
  left: 8px;
  display: none;
}

#check:checked~label #cancel {
  left: 8px;
}

/*主要思路：检测checkbox是否被check，是则侧边栏从-200到0，否 则从0到-200*/
/*滚动条*/
/*div滚动条*/
/*
.box {
    width: 150px;
    height: 200px;
    overflow: scroll;
    margin: 100px;
}
.scrollbar {
    width: 30px;
    height: 300px;
    margin: 0 auto;
}*/
/*滚动条整体样式*/
/*
.box::-webkit-scrollbar {
width: 10px;
height: 1px;
}*/
/*滚动条滑块*/
/*
.box::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
background: #535353;
}*/
/*滚动条轨道*/
/*
.box::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
border-radius: 10px;
background: #ccc;
} */
/*
<div class="box">
  <div class="scrollbar"></div>
</div>
*/
/*页面滚动条*/
/*滚动条里面轨道*/
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
  background-color: #C7C7C7;
}

/*定义滚动条整体的样式*/
body::-webkit-scrollbar {
  width: 6px;
  background-color: #C7C7C7;
}

/*滚动条的样式*/
body::-webkit-scrollbar-thumb {
  height: 20px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #fb7299), color-stop(0.4, #E18393), color-stop(0.8, #fb7299));
}

/* 返回顶部小按钮 */
.hid {
  position: fixed;
  left: 20px;
  bottom: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}

.hid-a {
  display: none;
  position: fixed;
  left: 20px;
  bottom: 40px;
}

.hid-a a {
  font-size: 1.25em;
}

.hid:hover .hid-a {
  display: inline;
  z-index: 999;
}

.hid:hover #hid-i {
  display: none;
}

#icon {
  font-size: 2.5em;
}



/* ----

# Pio Plugin
# By: Dreamer-Paul
# Last Update: 2022.8.12

一个支持更换 Live2D 模型的 Typecho 插件。

本代码为奇趣保罗原创，并遵守 GPL 2.0 开源协议。欢迎访问我的博客：https://paugram.com

---- */
.pio-container {
  bottom: 0;
  z-index: 52;
  color: #666;
  position: fixed;
  -webkit-user-select: none;
  user-select: none;
}

.pio-container .pio-show {
  left: -1em;
  bottom: 1em;
  width: 3em;
  height: 3em;
  display: none;
  cursor: pointer;
  position: absolute;
  border-radius: 3em;
  border: 3px solid #fff;
  transition: transform .3s;
  background: url(https://main-1309525160.cos.ap-beijing.myqcloud.com/live2d/static/avatar.jpg) center/contain;
}

.pio-container.hidden .pio-show {
  display: block;
}

.pio-container.hidden .pio-show:hover {
  transform: translateX(-2.5em);
}

.pio-container.hidden #pio,
.pio-container.hidden .pio-action,
.pio-container.hidden .pio-dialog {
  display: none;
}

.pio-container.left {
  left: 0
}

.pio-container.right {
  right: 0
}

.pio-container.active {
  cursor: move
}

.pio-container.static {
  pointer-events: none
}

.pio-container .pio-action {
  top: 3em;
  opacity: 0;
  position: absolute;
  transition: opacity .3s;
}

.pio-container.left .pio-action {
  right: 0
}

.pio-container.right .pio-action {
  left: 0
}

.pio-container:hover .pio-action {
  opacity: 1
}

.pio-action span {
  color: #fff;
  width: 1.5em;
  height: 1.5em;
  display: block;
  cursor: pointer;
  text-align: center;
  border-radius: 66%;
  margin-bottom: .5em;
  border: 1px solid #666;
  background: #fff center/70% no-repeat;
}

.pio-action .pio-home {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTg5My43IDUwNS45SDEyOS4zYy0xMyAwLTI0LjgtNy45LTI5LjgtMTkuOS01LTEyLTIuMi0yNS45IDctMzUuMmwzMDctMzA3YzI2LjEtMjYuMSA2MC45LTQwLjUgOTgtNDAuNXM3MS45IDE0LjQgOTggNDAuNWwzMDcgMzA3YzkuMiA5LjIgMTIgMjMuMSA3IDM1LjItNSAxMi4xLTE2LjcgMTkuOS0yOS44IDE5Ljl6TTY3My4yIDkxOS45aC0zMS41Yy0xNy44IDAtMzIuMy0xNC40LTMyLjMtMzIuM3YtNzcuNGMwLTIzLjEtMTguOC00Mi4xLTQxLjktNDIuNC0yMi4zIDAuMy00MS4xIDE5LjMtNDEuMSA0Mi40djc3LjRjMCAxNy44LTE0LjQgMzIuMy0zMi4zIDMyLjNIMzQ5LjhjLTcwLjkgMC0xMjguNy02My43LTEyOC43LTE0MS45VjU4MS45YzAtMTcuOCAxNC40LTMyLjMgMzIuMy0zMi4zaDUxNi4yYzE3LjggMCAzMi4zIDE0LjQgMzIuMyAzMi4zVjc3OGMtMC4xIDc4LjMtNTcuOCAxNDEuOS0xMjguNyAxNDEuOXoiPjwvcGF0aD48L3N2Zz4=);
}

.pio-action .pio-close {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE1NS4yNTIgOTQzLjgyNWMtMTkuMjEzIDAtMzguNDI5LTcuMzMyLTUzLjA4OS0yMS45ODgtMjkuMzE3LTI5LjMyMS0yOS4zMTctNzYuODU1IDAtMTA2LjE3NWw3MTMuNDk0LTcxMy40OTRjMjkuMzE3LTI5LjMyMSA3Ni44NTMtMjkuMzIxIDEwNi4xNzUgMCAyOS4zMTcgMjkuMzE3IDI5LjMxNyA3Ni44NTUgMCAxMDYuMTc1bC03MTMuNDk0IDcxMy40OTRjLTE0LjY2IDE0LjY2LTMzLjg3NCAyMS45ODgtNTMuMDg5IDIxLjk4OHoiIGZpbGw9IiI+PC9wYXRoPjxwYXRoIGQ9Ik04NjguNzQ5IDk0My44MjRjLTE5LjIxMyAwLTM4LjQyOC03LjMzMi01My4wODktMjEuOTg4bC03MTMuNDk0LTcxMy40OTNjLTI5LjMxNy0yOS4zMTctMjkuMzE3LTc2Ljg1NyAwLTEwNi4xNzUgMjkuMzE2LTI5LjMxNyA3Ni44NTUtMjkuMzIxIDEwNi4xNzQgMGw3MTMuNDk0IDcxMy40OTJjMjkuMzE3IDI5LjMyMSAyOS4zMTcgNzYuODU1IDAgMTA2LjE3NS0xNC42NTcgMTQuNjYxLTMzLjg3MSAyMS45OTMtNTMuMDg3IDIxLjk5M3oiIGZpbGw9IiI+PC9wYXRoPjwvc3ZnPg==);
}

.pio-action .pio-skin {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTk2NS45MTEgMzEwLjUzMWwtMTc0LjQtMTc0LjM5OGMtMTMuMDIyLTEzLjAyMS0zMC45MzMtMTkuNjQ5LTQ5LjM4MS0xOC4yMjgtMS43NC0wLjE1LTMuNDIyLTAuMjI0LTUuMDctMC4yMjRsLTkyLjkxNCAwLTYuNTE3IDMuNjI1Yy0zNC40MjEgMTkuMTQ2LTc4LjM0MSAyOS42ODktMTIzLjY2OCAyOS42ODktNDUuMzI4IDAtODkuMjQ2LTEwLjU0My0xMjMuNjY3LTI5LjY4OWwtNi41MTgtMy42MjVMMjkwLjg2IDExNy42ODFjLTIzLjY5MSAwLTQ0Ljk4NiAxMi45MjQtNTUuOTk1IDMzLjQ1MUw2Mi40NzcgMzIzLjUyMWMtMTEuOSAxMS44OTktMTguNDU0IDI3LjcyLTE4LjQ1NCA0NC41NDggMCAxNi44MjkgNi41NTQgMzIuNjQ5IDE4LjQ1MyA0NC41NDlsMTI1Ljk1MyAxMjUuOTU1YzEwLjU0IDEwLjUzOCAyNC4xNTcgMTYuODc4IDM4LjgyNiAxOC4xODFsMCAzMDQuMzk5YzAgMzUuMDczIDI4LjUzMyA2My42MDYgNjMuNjA0IDYzLjYwNmw0NDYuMTk5IDBjMzUuMDc0IDAgNjMuNjA3LTI4LjUzMyA2My42MDctNjMuNjA2bC0wLjAwMS0zMTcuMzQ1YzE0Ljg0NC0xLjIxMSAyOC42MzktNy41NzcgMzkuMjg4LTE4LjIyNEw5NjUuOTEgMzk5LjYyOEM5OTAuNDc1IDM3NS4wNjQgOTkwLjQ3NSAzMzUuMDk1IDk2NS45MTEgMzEwLjUzMXoiPjwvcGF0aD48L3N2Zz4=);
}

.pio-action .pio-info {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTY4Mi45IDgyNS45SDI2Ny44Yy0yMS44IDAtMzkuNS0xNy43LTM5LjUtMzkuNXMxNy43LTM5LjUgMzkuNS0zOS41aDQxNS4xYzIxLjggMCAzOS41IDE3LjcgMzkuNSAzOS41cy0xNy43IDM5LjUtMzkuNSAzOS41ek04NjQuNyAxMDAuNGMtMTguNSAzLjctMzEuMyAyMC45LTMxLjMgMzkuN3Y2NDUuOGMwIDQ4LTM4LjkgODctODcgODdIMjE5LjNjLTE2LjQgMC0yOS42LTEzLjMtMjkuNi0yOS42VjczMi43YzAtMTYuMSAxMy4xLTI5LjIgMjkuMi0yOS4yaDM3NS45Yzg4LjEgMCAxNTkuNS03MS40IDE1OS41LTE1OS41VjE4NS41YzAtNjYuMi01My43LTExOS45LTExOS45LTExOS45aC00MDRjLTY2LjIgMC0xMTkuOSA1My43LTExOS45IDExOS45djY1Ny44YzAgNjAgNDguNyAxMDguNyAxMDguNyAxMDguN2g1MjcuMWM5MS43IDAgMTY2LjEtNzQuMyAxNjYuMS0xNjYuMVYxMzkuMWMwLjEtMjQuNi0yMi4yLTQzLjktNDcuNy0zOC43eiI+PC9wYXRoPjwvc3ZnPg==);
}

.pio-action .pio-night {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAyNCAxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTUxMiAyMDkuNDAzMjQxYy0yMDEuNzMxNTE0IDAtMzc0LjAwOTIwNiAxMjUuNDc2NzgzLTQ0My44MDg5MjIgMzAyLjU5Njc1OSA2OS43OTg2OTIgMTc3LjExOTk3NyAyNDIuMDc3NDA4IDMwMi41OTY3NTkgNDQzLjgwODkyMiAzMDIuNTk2NzU5IDIwMS45MzMxMDUgMCAzNzQuMDEwMjI5LTEyNS40NzY3ODMgNDQzLjgwODkyMi0zMDIuNTk2NzU5Qzg4Ni4wMDkyMDYgMzM0Ljg4MDAyMyA3MTMuOTMzMTA1IDIwOS40MDMyNDEgNTEyIDIwOS40MDMyNDF6TTUxMiA3MTMuNzMxNTE0Yy0xMTEuMzU1MTU3IDAtMjAxLjczMTUxNC05MC4zNzUzMzQtMjAxLjczMTUxNC0yMDEuNzMxNTE0czkwLjM3NTMzNC0yMDEuNzMxNTE0IDIwMS43MzE1MTQtMjAxLjczMTUxNCAyMDEuNzMxNTE0IDkwLjM3NTMzNCAyMDEuNzMxNTE0IDIwMS43MzE1MTRTNjIzLjM1NTE1NyA3MTMuNzMxNTE0IDUxMiA3MTMuNzMxNTE0ek01MTIgMzkwLjk2MTI5NmMtNjYuNzcyNzc2IDAtMTIxLjAzODcwNCA1NC4yNjU5MjgtMTIxLjAzODcwNCAxMjEuMDM4NzA0czU0LjI2NTkyOCAxMjEuMDM4NzA0IDEyMS4wMzg3MDQgMTIxLjAzODcwNCAxMjEuMDM4NzA0LTU0LjI2NTkyOCAxMjEuMDM4NzA0LTEyMS4wMzg3MDRTNTc4Ljc3Mjc3NiAzOTAuOTYxMjk2IDUxMiAzOTAuOTYxMjk2eiI+PC9wYXRoPjwvc3ZnPg==);
}

.pio-container .pio-dialog {
  bottom: 90%;
  bottom: calc(100% - 2em);
  opacity: 0;
  z-index: -1;
  font-size: .8em;
  min-width: 12em;
  background: #f4d1d7;
  padding: .75em 1em;
  border-radius: 1em;
  visibility: hidden;
  position: absolute;
  word-break: break-all;
  border: 1px solid #eee;
  transition: opacity .3s, visibility .3s;
}

.pio-container .pio-dialog.active {
  opacity: 1;
  visibility: visible;
}

.pio-container.left .pio-dialog {
  left: 1em
}

.pio-container.right .pio-dialog {
  right: 1em
}

#pio {
  vertical-align: middle
}

@media screen and (max-width: 768px) {
  #pio {
    width: 8em
  }

  .pio-container {
    pointer-events: none
  }
}