* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
html {
    font-family: 'ZCOOL KuaiLe', cursive;
}
a {
    text-decoration: none;
    color: #fb7299;
    cursor: pointer;
}
a:active, a:hover {
    outline: 0;
}
body {
    background-color: #fff;
}
body {
    padding-top: 72px;
}
body p {
    color: #3498db;
    font-size: 1.5vw;
    font-weight: 100;
}
.sidebar {
    position: fixed;
    top: 64px;
    left: -200px;
    width: 200px;
    height: 100%;
    background: #FFFFFF;
    transition: all .5s ease;
    box-shadow: 2px 4px 6px #BFBFBF;
    z-index: 999;
}
.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    color: #fb7299;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px;
    transition: .4s;
}
ul li:hover a {
    padding-left: 30px;
    color: aqua;
    border-left: 5px solid #fb7299;
    transition: all 0.5s;
}
#check {
    display: none;
}
label #btn, label #cancel {
    position: absolute;
    cursor: pointer;
    background-color: #fb7299;
    border-radius: 3px;
}
label #btn {
    left: 8px;
    top: 8px;
    padding: 6px 10px;
    z-index: 30;
    font-size: 25px;
    color: #FFFFFF;
}
label #cancel {
    z-index: 1;
    left: 8px;
    top: 8px;
    font-size: 25px;
    color: #FFFFFF;
    padding: 6px 10px;
}
#check:checked ~ .sidebar {
    left: 0;
}
#check:checked ~ label #btn {
    left: 8px;
    display: none;
}
#check:checked ~ label #cancel {
    left: 8px;
}
.header {
    box-shadow: 8px 8px 8px #BFBFBF;
    background-color: #fb7299;
    height: 64px;
    width: 100%;
    position: fixed;
	top: 0px;
	z-index: 99;
}
#h-h {
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: 2.75em;
    font-family: 'ZCOOL KuaiLe', cursive;
}